.header, .hero, .bar, .footer {
	background-color: #00A0E3;
	margin-bottom: 15px;
	padding:10px 0;
}
.box{
	min-height: 80px;
	background-color: red;
	font-size: 30px;
	margin-bottom: 10px;
	color: white;
}
.green{
	background-color: green;
